# Ex. 3.1 Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [1]:
from platform import python_version

print(python_version())

3.7.10

In [15]:
!pip install -q condacolab

In [17]:
import condacolab 
condacolab.install()
!conda install -y pyhive

⏬ Downloading https://github.com/jaimergp/miniforge/releases/latest/download/Mambaforge-colab-Linux-x86_64.sh...
📦 Installing...
📌 Adjusting configuration...
🩹 Patching environment...
⏲ Done in 0:00:35
🔁 Restarting kernel...
Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done
Solving environment: - \ | / - \ | / done

## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - pyhive


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2021.5.30  |       ha878542_0         136 KB  conda-forge
    certifi-2021.5.30          |   py37h89c1867_0         141 KB  conda-forge
    conda-4.10.1               |   py37h89c1867_0         3.1 MB  conda-forge
    cyrus-sasl-2.1.27          |       h3274739_1         224 KB  conda-forge
    future-0.18.2              |   py37h89c1867_3         714 KB  conda-forge
    greenlet-1.1.0             |   py37hcd2ae1e_0          83 KB  conda-forge
    importlib-metadata-4.5.0   |   py37h89c1867_0          31 KB  conda-forge
    libntlm-1.4                |    h7f98852_1002          32 KB  conda-forge
    openssl-1.1.1k             |       h7f98852_0         2.1 MB  conda-forge
    pyhive-0.6.4               |     pyhd8ed1ab_0          39 KB  conda-forge
    python-dateutil-2.8.1      |             py_0         220 KB  conda-forge
    sasl-0.3a1                 |   py37hcd2ae1e_0          74 KB  conda-forge
    sqlalchemy-1.4.18          |   py37h5e8e339_0         2.2 MB  conda-forge
    thrift-0.13.0              |   py37hcd2ae1e_2         120 KB  conda-forge
    thrift_sasl-0.4.2          |   py37h8f50634_0          14 KB  conda-forge
    typing_extensions-3.10.0.0 |     pyha770c72_0          28 KB  conda-forge
    zipp-3.4.1                 |     pyhd8ed1ab_0          11 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         9.2 MB

The following NEW packages will be INSTALLED:

  cyrus-sasl         conda-forge/linux-64::cyrus-sasl-2.1.27-h3274739_1
  future             conda-forge/linux-64::future-0.18.2-py37h89c1867_3
  greenlet           conda-forge/linux-64::greenlet-1.1.0-py37hcd2ae1e_0
  importlib-metadata conda-forge/linux-64::importlib-metadata-4.5.0-py37h89c1867_0
  libntlm            conda-forge/linux-64::libntlm-1.4-h7f98852_1002
  pyhive             conda-forge/noarch::pyhive-0.6.4-pyhd8ed1ab_0
  python-dateutil    conda-forge/noarch::python-dateutil-2.8.1-py_0
  sasl               conda-forge/linux-64::sasl-0.3a1-py37hcd2ae1e_0
  sqlalchemy         conda-forge/linux-64::sqlalchemy-1.4.18-py37h5e8e339_0
  thrift             conda-forge/linux-64::thrift-0.13.0-py37hcd2ae1e_2
  thrift_sasl        conda-forge/linux-64::thrift_sasl-0.4.2-py37h8f50634_0
  typing_extensions  conda-forge/noarch::typing_extensions-3.10.0.0-pyha770c72_0
  zipp               conda-forge/noarch::zipp-3.4.1-pyhd8ed1ab_0

The following packages will be UPDATED:

  ca-certificates                      2020.12.5-ha878542_0 --> 2021.5.30-ha878542_0
  certifi                          2020.12.5-py37h89c1867_1 --> 2021.5.30-py37h89c1867_0
  conda                                4.9.2-py37h89c1867_0 --> 4.10.1-py37h89c1867_0
  openssl                                 1.1.1j-h7f98852_0 --> 1.1.1k-h7f98852_0



Downloading and Extracting Packages
cyrus-sasl-2.1.27    | 224 KB    | : 100% 1.0/1 [00:00<00:00,  8.15it/s]
ca-certificates-2021 | 136 KB    | : 100% 1.0/1 [00:00<00:00, 18.89it/s]
libntlm-1.4          | 32 KB     | : 100% 1.0/1 [00:00<00:00, 20.86it/s]
zipp-3.4.1           | 11 KB     | : 100% 1.0/1 [00:00<00:00, 34.10it/s]
thrift-0.13.0        | 120 KB    | : 100% 1.0/1 [00:00<00:00, 10.79it/s]
pyhive-0.6.4         | 39 KB     | : 100% 1.0/1 [00:00<00:00, 19.31it/s]
sasl-0.3a1           | 74 KB     | : 100% 1.0/1 [00:00<00:00, 21.81it/s]
conda-4.10.1         | 3.1 MB    | : 100% 1.0/1 [00:00<00:00,  1.66it/s]
python-dateutil-2.8. | 220 KB    | : 100% 1.0/1 [00:00<00:00, 17.03it/s]
openssl-1.1.1k       | 2.1 MB    | : 100% 1.0/1 [00:00<00:00,  2.89it/s]
greenlet-1.1.0       | 83 KB     | : 100% 1.0/1 [00:00<00:00, 17.29it/s]
thrift_sasl-0.4.2    | 14 KB     | : 100% 1.0/1 [00:00<00:00, 23.44it/s]
typing_extensions-3. | 28 KB     | : 100% 1.0/1 [00:00<00:00, 29.09it/s]
importlib-metadata-4 | 31 KB     | : 100% 1.0/1 [00:00<00:00, 25.12it/s]
sqlalchemy-1.4.18    | 2.2 MB    | : 100% 1.0/1 [00:00<00:00,  1.79it/s]
future-0.18.2        | 714 KB    | : 100% 1.0/1 [00:00<00:00,  4.90it/s]
certifi-2021.5.30    | 141 KB    | : 100% 1.0/1 [00:00<00:00, 15.87it/s]
Preparing transaction: \ done
Verifying transaction: / - \ | done
Executing transaction: - \ | / - \ | / - \ done

In [3]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [4]:
# try to connect
server="ec2-34-254-248-152.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [6]:
#show our databases
cursor.execute('show databases')

In [7]:
#get data from execution
cursor.fetchall()

[('default',)]

In [8]:
#use default db
cursor.execute('use default')

In [9]:
#show tables in db
cursor.execute('show tables')

In [10]:
cursor.fetchall()

[('employee',), ('salary',)]

In [11]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('birthday', 'date', ''),
 ('first_name', 'string', ''),
 ('family_name', 'string', ''),
 ('gender', 'char(1)', ''),
 ('work_day', 'date', '')]

In [12]:
#select data
cursor.execute('select * from employee limit 100')

In [13]:
#get daata from selction
employee = cursor.fetchall()

In [14]:
len(employee) #this is a list

100

In [15]:
#have a look
employee[:10]

[(10001, None, "'Georgi'", "'Facello'", "'", None),
 (10002, None, "'Bezalel'", "'Simmel'", "'", None),
 (10003, None, "'Parto'", "'Bamford'", "'", None),
 (10004, None, "'Chirstian'", "'Koblick'", "'", None),
 (10005, None, "'Kyoichi'", "'Maliniak'", "'", None),
 (10006, None, "'Anneke'", "'Preusig'", "'", None),
 (10007, None, "'Tzvetan'", "'Zielinski'", "'", None),
 (10008, None, "'Saniya'", "'Kalloufi'", "'", None),
 (10009, None, "'Sumant'", "'Peac'", "'", None),
 (10010, None, "'Duangkaew'", "'Piveteau'", "'", None)]

In [16]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('salary', 'int', ''),
 ('start_date', 'date', ''),
 ('end_date', 'date', '')]

In [17]:
#select data
cursor.execute('select * from salary limit 100')

In [18]:
#get daata from selction
salary = cursor.fetchall()

In [19]:
salary[:10]

[(10001, 60117, None, None),
 (10001, 62102, None, None),
 (10001, 66074, None, None),
 (10001, 66596, None, None),
 (10001, 66961, None, None),
 (10001, 71046, None, None),
 (10001, 74333, None, None),
 (10001, 75286, None, None),
 (10001, 75994, None, None),
 (10001, 76884, None, None)]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [24]:
cursor.execute("select * from employee order by family_name limit 10")

In [25]:
cursor.fetchall()

[(11761, None, "'Bartek'", "'Aamodt'", "'", None),
 (493102, None, "'Srinidhi'", "'Aamodt'", "'", None),
 (19898, None, "'Vidar'", "'Aamodt'", "'", None),
 (12791, None, "'Mokhtar'", "'Aamodt'", "'", None),
 (12516, None, "'Sreenivas'", "'Aamodt'", "'", None),
 (16572, None, "'Matt'", "'Aamodt'", "'", None),
 (18182, None, "'Dekang'", "'Aamodt'", "'", None),
 (493601, None, "'Sreekrishna'", "'Aamodt'", "'", None),
 (15427, None, "'Aluzio'", "'Aamodt'", "'", None),
 (17400, None, "'Basim'", "'Aamodt'", "'", None)]

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [27]:
cursor.execute("SELECT * FROM employee WHERE rec1=family_name AND rec2=salary")
data=cursor.fetchall()

OperationalError: ignored

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute(" ")
cursor.fetchall()